:root[data-theme="light"] {
    --background: #eeeeee;
    --panel: #ffffff;
    --text: #11101d;
    --card: #dbdbdb;
    --card-outline: #acacac;
    --primary: #1d5c9a;
    --secondary: #74c2f6;
    --accent: #f4d262;
    --accent-inv: #9d7b0b;
    --slider-bg: #a7a7a7;
    --sliderThumb: #24292E;
    --err-m: #FF6D60;
    --btn-bg: #F1F6F9;
    --btn-hover: #777777;

  }
  :root[data-theme="dark"] {
    --text: #ebf9f2;
    --background: #24292E;
    --panel: #777777;
    --card: #212A3E;
    --card-outline: #acacac;
    --primary: #65a3e2;
    --secondary: #09578b;
    --accent: #8d6d05;
    --accent-inv: #f4d262;
    --slider-bg: #777777;
    --sliderThumb: #eeeeee;
    --err-m: #580700;
    --btn-bg: #F1F6F9;
    --btn-hover: #777777;
  }

:root{
    
    --sliderWidth: 60%;
}

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   outline: 0; 
   font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body{
    background-color: var(--background);
}

.d-none{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: var(--accent);
    position: relative;
}
.theme-toggle-btn{
    display: flex;
    position: absolute;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 7px;
    top: 50%; /* Vertically centered at 50% of the topbar height */
    transform: translateY(-50%); /* Adjust for the button's own height */
    right:10px;
}
.theme-toggle-btn:hover{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    background-color: var(--accent-inv);
    
}
.theme-toggle-btn:active{
    transform: translateY(-50%) scale(0.96);
}
.theme-svg{
    width: 24px;
    height: 24px;
    stroke: var(--text);
}
.title{
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--text);
}
.err_m{
    position: absolute;
    background-color: var(--err-m);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--text);
}

.err_m>p{
    font-size: 22px;
}


.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--panel);
    width: 60%;
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
.card{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 1px solid var(--card-outline);
}
.card-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.card-title{
    text-align: center;
    font-size: 20px;
    color: var(--text);
    font-weight: 500;
}
.card-textbox{
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    border-top: 3px solid var(--accent);
    transition: border-color 0.2s ease-in-out;
}

.card-textbox:focus {
  border-top-color: var(--accent-inv);
}

.btn{
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    min-width: 100px;
    background-color: var(--btn-bg);
    transition: 0.1s ease-in-out;
    border-top: 3px solid var(--accent);
}
.btn:hover{
    color: #FFF;
    background-color: var(--btn-hover);
    cursor: pointer;
}
.btn:active{
    transform: scale(0.96);
    border: none;
}

.slider {
    appearance: none;
    width: var(--sliderWidth);
    height: 0.8em;
    border-radius: 5px;
    background: var(--slider-bg);
    outline: none;
    transition: filter 0.1s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: var(--sliderThumb);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: var(--sliderThumb);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    cursor: pointer;
}
.angle-wrap{
    width: 20%;
}
.slider-value{
    font-size: 24px;
    font-weight: 500;
    color: var(--text);
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* For Firefox */
* {
    scrollbar-width: none;
}

/* For IE and Edge */
* {
    -ms-overflow-style: none;
}

/* Hide scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    display: none;
}

/* Hide scrollbar track (the background) */
::-webkit-scrollbar-track {
    display: none;
}

@media (max-width: 1200px){
    /*mid monitors*/
    .content{
        width: 70%;
    }
}
@media (max-width: 992px){
    /* tablets */
    .content{
        width: 75%;
    }
}
@media (max-width: 768px){
    /*smart phone */
    .content{
        width: 85%;
    }
    .card-row{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .card-textbox{
        width: 80%;
        margin-top: 15px;
    }
    .btn{
        width: 80%;
        margin-top: 15px;
        padding: 10px;
    }
    .slider{
        margin-top: 25px;
        width: 80%;
    }
    .angle-wrap{
        margin-top: 25px;
    }
}